@font-face {
    font-family: "hanson";
    src: url(../font/Hanson\ Bold\ 700.otf) format()('opentype');
    font-weight: bold;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: hsla(0, 0%, 75%, 0.608);
}

.txtheader {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-size: 57px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    align-items: center;
    text-align: center;

}

.txtheader a {
    text-decoration: none;
    color: white;

}

.botaoentrar {
    color: black;
    padding-right: 2%;
    padding-top: 2.5%;
    font-size: 20px;
}

.form>div {
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
}

.containerprincipal {
    box-shadow: 5px 5px 10px #888;
    margin-left: 25%;
    width: 50%;
    height: 500px;
    border-radius: 15px;
    background-color: #f7f7f79b;
    margin-top: 30px;

}


.form {
    padding-top: 0%;
    padding-left: 2.8%;

}

input {
    border: 0.75px solid;
}

.containerrodape a {
    text-decoration: none;
    color: black;
}


.divrodape {
    margin-top: -55px;
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    height: 100px;
    width: 90%;

}

.classcadatro {
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
}

#numero {
    width: 50px;


}

#inlineFormCustomSelect {
    width: 112px;
    height: 40px;
    margin-top: -8%;

}

#nomeCompleto,
#referencia {
    width: 295px;
}

#rua {
    width: 295px;
}

input {
    width: 140px;
    border-radius: 4px;

}

#complemento {
    width: 230px;
}

#link {
    margin-left: 70px;
}


#pcadastrar {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -1px;
}


@media screen and (min-width:1290px) {
    #cadastrar {
        margin-left: 2%;
        width: 260px;

    }


    .containertitulos {
        width: 100%;
        padding-left: 3.0%;
    }

    .containertitulos>div {
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        font-weight: bold;
        align-items: center;

    }

    .containertitulo {

        width: 295px;
        height: 32px;
        border: solid black 2px;
        background-color: rgb(22, 22, 22);
        color: whitesmoke;
        border-radius: 4px;
    }

    .containerrodape {
        margin-top: 160px;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .containerrodape>div {
        margin-left: 50px;
        width: 20%;
        height: 150px;

    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 33px;
    }


}

@media screen and (max-width:410px) {

    .containertitulos {
        color: #f7f7f79b;
    }

    .containertitulos>div {
        margin-left: 0%;
    }

    .containertitulo {
        margin-top: 900px;
        position: absolute;
        font-size: 1px;
        color: #c0c0c0;
        border-radius: 4px;
    }

    .containerprincipal {
        width: 90%;
        height: 780px;
        border-radius: 15px;
        background-color: #f7f7f79b;
        margin-top: 30px;
        margin-left: 5%;
    }

    .linkbtb {
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    #cadastrar {
        margin-top: 10px;
        margin-left: 3%;
        width: 293px;
    }


    .containerrodape>div {
        width: 22%;
        height: 100px;
    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 10px;
    }

    .containerrodape {
        font-size: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: center;

    }

    /* @media screen and (max-width: 450px) and (min-width:400px) {
        .containerprincipal {
            width: 92%;
            height: 790px;
            border-radius: 15px;
            background-color: #f7f7f79b;
            margin-top: 30px;
            margin-left: 4%;
        }
    } */

}